python==3.7.9
numpy
matplotlib==3.3.4
pandas==1.2.1
pyproj
basemap==1.2.2
basemap-data-hires==1.2.2
cftime==1.4.0
netcdf4==1.5.5.1
xlrd==2.0.1
plotnine==0.7.1
ephem
gdal==3.2.1
boto3 == 1.16.63
scipy
yaml